@using BlogApplication.Models.Constants.Controllers
@model BlogApplication.Models.ViewModels.Account.AccountForgotPasswordViewModel

<div class="container mt-5">
    <div class="row">
        <h2 class="mx-auto">Forgot your password?</h2>
    </div>

    <div class="row">
        @using (Html.BeginForm(
            ActionNames.ForgotPassword,
            ControllerNames.Account,
            FormMethod.Post,
            new {@class = "col-md-6 mx-auto", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})
            @Html.DisplayFor(t => t.Email, "FormGroups/TextBoxFormGroupComponent")

            <div class="form-group">
                <input class="btn btn-block btn-lg btn-outline-primary" type="submit" value="Email Link">
            </div>
        }
    </div>
</div>