<div class="container mt-5">
    <div class="row">
        <h2 class="col-sm-12 text-center">Forgot Password Confirmation</h2>
        <p class="col-sm-12 text-center">Please check your email to reset your password.</p>
    </div>
</div>