@using BlogApplication.Models.Constants.Controllers
<div class="container mt-5">
    <div class="row">
        <h2 class="col-sm-12 text-center">Reset password confirmation</h2>
        <p class="col-sm-12 text-center">
            Your password has been reset. Please @Html.ActionLink("click here to log in", ActionNames.LogIn, ControllerNames.Account, null, new {id = "loginLink"})
        </p>
    </div>
</div>