@model HandleErrorInfo

<div class="container mt-5">
    <div class="row">
        <h2 class="col-sm-12 text-center">
            Error
        </h2>
        <p class="col-sm-12 text-center">
            An error occurred while processing your request.
        </p>
    </div>
</div>